<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="assemblies" type="System.Configuration.NameValueSectionHandler" />
    </configSections>

    <assemblies>
        <!--<add key="sasl" value="SimpleXmpp.Protocol.Sasl" />-->
    </assemblies>
    
</configuration>